# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

public/*.mp4
public/*.m4v
public/oceans
public/qt-test-1.mov
docs/*.mp4
docs/*.m4v
docs/oceans
docs/qt-test-1.mov
