label {
  display: inline-block;
  width: 100px;
}

.timer {
  border: 1px solid blue;
  border-radius: 15px;
  width: 400px;
  margin: 30px auto;
  padding: 10px;
}

.remaining {
  padding: 20px;
  font-size: 1.2em;
}

.running {
  background-color: #80ffa0;
}

.done {
  color: white;
  background-color: red;
}

.final-seconds {
   color: red;
}

.editable {
  color: blue;
  height: 24px;
}

.editable:focus {
  outline: none;
}