@import url('/node_modules/font-awesome/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css');

.App {
  text-align: center;
}

.example {
  /*background-color: lightblue;*/
  margin: auto;
  max-width: 800px;
}
