.todo {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
}

.completed {
  text-decoration: line-through;
}

.badge {
  color: #fff !important;
  background-color: #337ab7 !important;
}
